*{
	margin:0px;
	padding:0px;
}
body{
	background-color: yellow;
	
}

.sign-up-box{
	border: 2px solid black;
	border-radius: 10px;
	box-shadow: 10px grey;
	margin: 20% 20%;
	background-color: cyan;
}

.prompt{
	margin:3px;
	padding:3px;
	text-align: centre;
}
label, input{
	margin: 3px;
	padding: 3px;
	
}